<main class="mw8 center">

  <header class="w-100 pa3 bg-white">
    <div class="f2">telegram..bot..sender</div>
  </header>


  <div class="avenir pa3">
    <a class="f6 link dim br1 ph3 pv2 mb2 dib white bg-dark-green" href="#0">START</a>
    <a class="f6 link dim br1 ph3 pv2 mb2 dib white bg-dark-red" href="#0">STOP</a>
    <a class="f6 link dim br1 ph3 pv2 mb2 dib white bg-dark-blue" href="#0">NEW TASK</a>
  </div>


  <div class="avenir">
    <div class="ba ma2 pa2 b--black-30 flex flex-row items-center">
      <div class="f3">
        <i class="fa fa-cog f3" aria-hidden="true"></i>
        <i class="fa fa-pause-circle-o" aria-hidden="true"></i>
        <i class="fa fa-trash" aria-hidden="true"></i>
        <i class="fa fa-bolt" aria-hidden="true"></i>
      </div>

      <div class="ph3-ns">task1</div>

    </div>
    <div class="ba ma2 pa2 b--black-30">task2</div>
    <div class="ba ma2 pa2 b--black-30">task3</div>
  </div>


</main>


