<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" label="Task list" icon="fa-backward" routerLink="/task-list"></button>
  </div>
  <div class="ui-toolbar-group-right">
    <button pButton type="button" label="Add new token" icon="fa-plus" (click)="addNewToken()"></button>
  </div>
</p-toolbar>

<h1 style="text-align: center">token..list</h1>

<p-table [value]="tokenService.tokenList$ | async">
  <ng-template pTemplate="header">
    <tr>
      <th>Token</th>
      <th>Hash</th>
      <th class="col-action"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-token>
    <tr>
      <td>{{token.token || '&#60;no value&#62;'}}</td>
      <td>{{token.hash || '&#60;no value&#62;'}}</td>
      <td>
        <button pButton type="button" icon="fa-pencil" (click)="edit(token)"></button>
        <button pButton type="button" icon="fa-trash-o" (click)="delete(token.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog></p-confirmDialog>

<p-dialog header="Token" [(visible)]="displayTokenEditor" [modal]="true" [responsive]="true" [minWidth]="200">

  <input id="float-input" type="text" size="50" pInputText #tokenEditor>

  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="editorSave()" label="Save"></button>
    <button type="button" pButton icon="fa-close" (click)="editorCancel()" label="Cancel"></button>
  </p-footer>
</p-dialog>
