<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" label="Start" icon="fa-play"></button>
    <button pButton type="button" label="Stop" icon="fa-stop"></button>
  </div>

  <div class="ui-toolbar-group-right">
    <p-fileUpload #fubauto mode="basic" accept=".json" maxFileSize="1000000"
                  customUpload="true" (uploadHandler)="readFile($event)" [auto]="true"
                  chooseLabel="New task"></p-fileUpload>
    <button pButton type="button" label="Tokens" routerLink="/token-list"></button>
  </div>
</p-toolbar>

<h1 style="text-align: center">task..list</h1>

<div class="list">
  <div class="task" *ngFor="let task of taskList">
    <div class="label">{{task.project || '&#60;no value&#62;'}} - {{task.label || '&#60;no value&#62;'}}</div>
    <div class="progress">14 of 200</div>
    <div class="button-panel">
      <button pButton type="button" icon="fa-play" disabled pTooltip="Run task (disabled)"></button>
      <button pButton type="button" icon="fa-stop" disabled></button>
      <button pButton type="button" icon="fa-pencil" routerLink="/task/{{task.id}}"
              pTooltip="Go to edit message"></button>
      <button pButton type="button" icon="fa-download" disabled></button>
      <button pButton type="button" icon="fa-trash" pTooltip="Delete task" (click)="delete(task.id)"></button>
      <button pButton type="button" icon="fa-lock" disabled></button>
      <button pButton type="button" icon="fa-reply-all" disabled></button>
    </div>
  </div>

</div>


<p-confirmDialog></p-confirmDialog>
