<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" label="Start" icon="fa-play"></button>
    <button pButton type="button" label="Stop" icon="fa-stop"></button>
  </div>

  <div class="ui-toolbar-group-right">
    <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000"
                  (onUpload)="afterUpload($event)" auto="true" chooseLabel="New task"></p-fileUpload>
    <button pButton type="button" label="Tokens" routerLink="/token-list"></button>
  </div>
</p-toolbar>
