
:host {
  p-fileUpload {
    display: inline-flex;
  }

  /deep/ .ui-fileupload-choose {
    //overflow: visible;
  }

  .task {
    border: 1px solid #D5D5D5;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 6px;

    .label {
    }
    .progress {
      flex-grow: 1;
      text-align: center;
    }
    .button-panel {
    }
  }

}
